* {
    font-family: 'Montserrat', sans-serif;;
}

body {
    font-size: 21px;
    background-color: rgb(34, 31, 31);
    color: white !important;
    height: 100%;
    padding: 0%;
    margin: 0%;
}

.bio-p {
    letter-spacing: 0.5pt;
}

nav {
    margin-top: 15px;
    color: white !important;
}

.ok {
    padding-right: 15px; 
}

#picmatias {
    border-radius: 0px;
    display: inline-block;
    height: 200px;
    width: 200px;
}

.card {
    max-width: 400px;
    border-color: black;
    align-content: space-between;
}

div .row {
    padding-top: 15px; 
    align-items: flex-start;
    margin: auto;
}

.card-title, .card-text {
    color: black;
    text-align: right;
}


#formul {
    background-color: rgb(83, 82, 83);
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 13px 37px rgb(0, 0, 0);
}

#formHeader {
    background-color: rgb(0, 0, 0);
}

header span {
    font-size: 30px;
    display: block;
    text-align: left;
    padding: 1rem;
}

.pie-pagina {
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #0a141d;
    height: 300px;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    height: 40%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 50%;
    height: 80%;
    display: flex;
    padding-left: 20px;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: blanchedalmond;
    margin-bottom: 25px;
    font-size: 20px;
    ;
}

.pie-pagina .grupo-1 .box li {
    color: blanchedalmond;
    margin-bottom: 20px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: blanchedalmond;
    margin-right: 10px;
    text-align: center;
}

.pie-pagina .grupo-2 {
    text-align: center;
    margin-bottom: 0px;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

.grupo-2 {
    max-height: 10px;
    font-size: 140px;
}

@media screen and (max-width:800px) {
    .pie-pagina.grupo-1 {
        width: 90%;
        grid-template-columns: peteat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

@media screen and (min-width:900px) {
    .bio {
        font-size: 1.2em;
    }
    .bio-p {
        letter-spacing: 1.5pt;
    }
}

.contact {
    padding: .7rem;
    overflow: hidden;
    color: black;
}

.contact label, .contact input, .contact textarea {
    display: block;
    width: 100%;
    margin-bottom: 8px;
}

.contact label {
    font-weight: 700;
}

.contact input:not([type='submit']), .contact textarea {
    border: none;
    border-bottom: 3px solid black;
    outline: none;
}

.contact textarea {
    min-height: 100px;
}

input[type='submit'] {
    border: none;
    background-color: black;
    color: white;
    padding: 5px;
    cursor: grab;
}